<!-- templates/lab_5/partials/header.html -->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
	 
  
    
	 <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <!-- LINK MENUJU table, dan link menuju home#form -->
		<li class="objekKedua"><a href="{% url 'lab-10:dashboard' %}"><img src="https://image.flaticon.com/icons/png/512/25/25694.png" > </img></a></li>
		<li> <a href="{% url 'lab-10:movie_list' %} "> Movie List </a></li>
		<li> <a href="{% url 'lab-10:list_watch_later' %} ">Watch Later </a></li>
      </ul>
    </div><!--/.nav-collapse -->
   
  </div>
</nav>
