{% extends "layout/base.html" %}
	<font color="black">
    {% block title %} Pesan dari {{ name }} {% endblock %}
    {% block content %}
	
    <textarea readonly rows="5" class="form-control">&quot;{{message}}&quot;-{{name}} 
        by {{ email }}
    </textarea>
    {% endblock %}
</font>
    {% block footer %}
        <p> &copy; {{name}} </p>
    {% endblock %}
