 {% extends "layout/base.html" %}

    {% block content %}


<hr>
    <h1 align="center">Portofolio</h1>
	
	<h4 align="center"> <font color="gray">Riwayat Pendidikan </h4></font>
	<p align="center">Sekolah Dasar | SD Mutiara 17 Agustus  | 2004-2010 <br>
	Sekolah Menegah Pertama | SMP Mutiara 17 Agustus | 2010-2013<br>
	Sekolah Menegah Atas | SMAN 1 Kota Bekasi | 2013-2016<br>
	S1 | Universitas Indonesia | 2016-Sekarang<br></p>
	
	<h4 align="center"> <font color="gray">Pengalaman Organisasi</h4></font>
	<p align="center"> 
	
	BEM Fasilkom UI - PJ Proker Bismit Fresh Money<br>
	Sistem Fasilkom UI - Staff mengurus Workshop<br>
	CEDS - Membership <br>
	<p>
	
	<h4 align="center"> <font color="gray">Pengalaman Kepanitiaan</h4></font>
	<p align="center"> 
	Sutoyo Cup - Staff <br>
	SI Gathering- Staff Dana Usaha<br>
	<p>
	<hr>
	
	
	
	
    
    <section name="bio" >
        <h2 align="center">Bio</h2>
        <p align="center">	<b>
            {{content}}
			
        </p></b>
		
		<p align="center">
		Nama Lengkap- Rafif Iqbal Shaputra<br>
		Nickname- Rafif<br>
		Ttl - Jakarta ,25 Agustus 1998<br>
		Universitas Indonesia - Sistem Informasi<br>
		ID Line - rafifshaputra
		Instagram -rafifshaputra
		
		</p>
    </section>
    <hr/>
    <section name="about_me" >
        <h2 align="center">List</h2>
        <ul>
            {% for ii in about_me %}
            <li> {{ ii }} </li>
            {% endfor %}
        </ul>
    </section>
    <hr/>
    

	<section name="form" class="tengah">
        <h2 align="center">Send Message</h2>
        <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
            {% csrf_token %}
            {{ message_form }}
            <br>
            <p align="center"><button type="submit" class="btn btn-default"> Submit</button></p><br>
        </form>
    </section>


    {% endblock %}
	
