{% extends "layout/base.html" %}

    {% block title %} Kumpulan Pesan {% endblock %}

	

    {% block content %}
    <!--  Populate semua isi pesan dari model -->


<div class="container3">	
    <table class="table">
        <thead>
            <th>Nama</th>
            <th>Email</th>
            <th>Pesan</th>
            <th>Dibuat Pada</th>
        </thead>
        <tbody>
		
            <!-- TODO, Kalau nama/email anon maka tr classnya jadi warning -->
			
            {% for i in message %}
            {% if i.name == 'Anonymous' or i.email == 'Anonymous' %}
            <tr class="warning"> {% else %} <tr class="success">
			
                {% endif %}
			
                <td><font color="black"><b> {{i.name}} </b></font></td>
                <td><font color="black"><b> {{i.email}} </b> </font></td>
                <td> <font color="black"><b>{{i.message}}</b></font> </td>
                <td><font color="black"><b> {{i.created_date.time}} </b></font></td>
				
            </tr>       
			
            {% endfor %}
			
        </tbody>
    </table>
</div>
    {% endblock %}
