{% load staticfiles %}
{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="LAB 4">
    <meta name="author" content="{{author}}">
    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">    
	<link rel="stylesheet" type="text/css" href="{% static 'css/lab_4.css' %}" />
    <title> 
        {% block title %} Lab 4 By {{author}}{% endblock %}
    </title>
	
</head>



<body>
<img src="https://www.webjet.com.au/travel/wp-content/uploads/2014/09/sydney-observatory-hill-at-night.jpg" class="hg"></img>
<img src="http://www.mediafire.com/convkey/db67/bmkz78dok9w1ww6zg.jpg" class="gbr" align="center">
    <header class="navigasi">
        {% include "partials/header.html" %}
    </header>
	
    <content >
	
        <div class="container">
		
            {% block content %}
                <!-- content goes here -->
            {% endblock %}
        </div>

    </content>
	<br>
	
    <footer class="bawah">
        <!-- TODO Block Footer dan include footer.html -->
        {% block footer %}
        {% include "partials/footer.html" %}
        {% endblock %}
    </footer>

    <!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
