body {
	background: #e9ebee;
	margin-bottom: 100px;
}



.picture {
	background: white;
	width: 500px;
	height: 410px;
	padding-left:150px;
	padding-top:30px;
	padding-bottom:50px;
	top: 50px;
	left: 500px;
	position: absolute;
	border-radius: 1px;
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	border:4px solid rgba(0,0,0,0.3);
	border-radius:10px;
}
.picture img {
	border-radius:50%;
	width: 158px;
	height: 158px;
}
.name{
	left: 650px;
	font-size: 24px;
	font-weight: bold;
	font-family: 'Helvetica';
	color: black;
	top: 260px;
	height: 50px;
	width: 200px;
	position: absolute;
}

#email{
		
		font-size:16px;
		padding-left:30px;
		font-family: 'Calibri';
}

#gender{
	
	font-family: 'Calibri';
		padding-top:15px;
		font-size:16px;
		padding-left:30px;
}


.about {
	width: 500px;
	left: 500px;
	top: 480px;
	min-height: 155px;
	background: white;
	position: absolute;
	font-family: 'Monospace';
	font-size:16px;
	text-align:center;
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}
.about div {
	padding: 10px 20px 5px 25px;
}
.about div img {
	position: relative;
}
.about div div {
	word-wrap: break-word;
	margin-left: 5px;
}
#logout-btn {
	left: 700px;
	top: 410px;
	position: absolute;
	z-index: 1;
}

.gambar{
	height:100%;
	
	position:fixed;
	background-repeat:repeat-x;
}

#login-btn {
	position:absolute;
	top:50%;
	left:57%;
	
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

#login-btn button {
	margin-left:50px; 	
	margin-top:25px;
	
	
}

.pict img{
	top:50%;
	left:50%;
	padding-right:100px;
	width:400px;
	height:250px;
	
}
.well {
	left: 500px;
	top: 680px;
	height: 170px;
	width: 500px;
	background: white;
	position: absolute;
	font-family: 'Helvetica';
}
.well textarea {
	resize: none;
}
.status {
	left: 500px;
	top: 900px;
	height: 170px;
	width: 500px;
	position: absolute;
}
.list-status {
	min-height: 170px;
	width: 100%;
	margin: 20px auto;
	padding: 20px 30px;
	background: white;
	word-wrap: break-word;
	font-family: 'Helvetica';
	font-size: 18px; 
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}
.mini-photo {
	margin-bottom: 14px;
}

#user-name {
	margin-left: 10px;
	font-size: 24px;
}
.img-circle {
	border-radius: 50%;
}
.status-date{
	margin-top: 14px;
	color: grey;
	font-size: 14px;
}
.status-delete {
	z-index: 1;
	border-radius: 100%;
}

@media only screen and (max-width: 768px) {
	#login-btn {
	position:absolute;
	top:50%;
	left:50%;
	
	

}




	
	.picture {
	background: white;
	width: 100px;
	height: 100px;
	padding: 5px;
	top: 230px;
	left: 170px;
	position: absolute;
	border-radius: 1px;
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}
.picture img {
	width: 158px;
	height: 158px;
}

	.user-profile {
		width: 100%;
		align-items: center;
	}

	.picture {
		background: white;
		width: 158px;
		height: 158px;
		position:absolute;
		top: 250px;
		left: 52%;
		-ms-transform: translateX(-50%) translateY(-50%);
		-webkit-transform: translate(-50%);
		border-radius: 1px;
		-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	}
	.picture img {
		width: 148px;
		height: 148px;
	}
	
	#email{
		top:-9999px;
		left:-9999px;
		position:fixed;
	}
	
		#gender{
		top:-9999px;
		left:-9999px;
		position:fixed;
	}
	
	
	.name {
		font-size: 24px;
		font-weight: bold;
		font-family: 'Helvetica';
		text-align: center;
		color: black;
		height: 50px;
		width: 200px;
		position: relative;
		top: 420px;
		left: 52%;
		-ms-transform: translateX(-50%) translateY(-50%);
		-webkit-transform: translate(-50%);
		border-radius: 1px;
		z-index: 1;
	}
	.about {
		left: auto;
		right: auto;
		top: 490px;
		min-height: 225px;
		width: 92%;
		background: white;
		position: absolute;
		font-family: 'Helvetica';
		-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	}
	.about div {
		padding: 10px 20px 5px 25px;
		text-align: center;
	}
	.well {
		left: auto;
		right: auto;
		top: 735px;
		height: 170px;
		width: 92%;
		background: white;
		position: absolute;
		font-family: 'Helvetica';
	}
	.status {
		left: auto;
		right: auto;
		top: 905px;
		height: 170px;
		width: 92%;
		position: absolute;
	}
	#logout-btn {
		padding: auto 50%;
		left: 150px;
		top: 400px;
		position: relative;
	}
}
