<html>
<style>
	.center a{
	color:white;
	}
	
	#href_bio{
	}
	
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


{% extends "base.html" %}
{% block content %}
</body>
<hr class="garis">
<h3 style="text-align: center"><b>Hai semua, berikut adalah Catatan Harianku</h3></b>
<hr class="garis">
<br><br>
<div class="row">
    <div class="col-md-6 col-xs-6">
        <table align="center" style="text-align: center">
            <tr>
                <th>Tanggal</th>
                <th>Yang akan dikerjakan</th>
            </tr>
            {% for diary_data in diary_dict %}
                <tr>
                    <td class="date">{{ diary_data.date }}</td>
                    <td class="activity">{{ diary_data.activity }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
	
    <div class="col-md-6 col-xs-6">
        <form method="POST" action="add_activity/">
            {% csrf_token %}
            <table>
                <tr>
                    <td>
                        Tanggal
                    </td>
                    <td>
                        <input type="datetime-local" name="date" id="date" required="required"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        Kegiatan
                    </td>
                    <td>
                        <input type="text" name="activity" id="activity" size="25"/>
                    </td>
                </tr>
            </table>
            <button type="submit" class="button btn-success">Submit</button>
        </form>
    </div>
</div>

<br>
<br>
<p class="center" align="center"> <a id="href_bio"><u> Back To home </u></a></p>
</body>

<script>
    $(document).ready(function(){
        $("#href_bio").click(function(){
            window.location.href = '/lab-2/'
        });

    });
</script>
{% endblock %}
</html>
