{% extends "base.html" %}
{% block content %}
<style>
    .center_screen {
        position: absolute;
        width: 500px;
        height: 50px;
        top: 50%;
        left: 50%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -25px;
    }
	
	#href_bio{

    }
	
	#href_bio2{

    }
	
	
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body>

<div class="center_screen">
    <p class="status"  id="test" text-align="center"><h5>Hello, this is {{ name }}. {{ content }}. Check <u><a id="href_bio">My Biodata.</a> </u>  and <u><a id="href_bio2">My Diary.</a> </u></p></h5>
</div>
</body>
<script>
    $(document).ready(function(){
        $("#href_bio").click(function(){
            window.location.href = '/lab-2-addon/'
        });

    });
	
	$(document).ready(function(){
        $("#href_bio2").click(function(){
            window.location.href = '/lab-3/'
        });

    });
	
</script>
{% endblock %}
