{% extends "lab_10/layout/base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="rata-tengah">
            <div class="judul">
                <h1 > </h1><img src="https://upload.wikimedia.org/wikipedia/id/thumb/9/95/Makara_UI.png/937px-Makara_UI.png" width="150px" height="150px" class="gambarku">
                <p class="text-info"><br> Gunakan <b> akun SSO </b> untuk login </p>
            </div>
            <form action="{% url 'lab-10:auth_login' %}" method="POST">
                {% csrf_token %}
                <p>
                    <label for="username"> Username </label>
                    <input type="text" id="username" name="username" required>
                </p>
                <p>
					<label for="username"> Password </label>
                    <input type="password" id="password" name="password" required>
                </p>
                <input type="submit" class="btn btn-primary" value="Login" id="login-but">
            </form>
        </div>
    </div>
</div>
{% endblock %}
