{% extends "base.html" %}
{% block content %}
<style>
	.center a{
		color:black;
		}

</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<hr class="garis">
<h3 style="text-align: center"><b>Hi all, This is my complete biodata</h3></b>
<hr class="garis">
<br>
<table align="center" style="text-align: center">
    {% for bio in bio_dict %}
        <tr>
            <td class="subject">{{ bio.subject }}</td>
            <td class="value">{{ bio.value }}</td>
        </tr>
    {% endfor %}
</table>
<br><br>
<p class="center" align="center"> <a id="href_bio"><u> Back To home </u></a></p>
<script>
    $(document).ready(function(){
        $("#href_bio").click(function(){
            window.location.href = '/lab-2/'
        });

    });
</script>
{% endblock %}
