.hg{
	height:100%;
	width:100%;
	position:fixed;
	}
	
	
	.container{
		font-family:Arial;
		font-size:30;
        position: absolute;
		background:rgba(0,0,0,0.9);
        width: 550px;
        height: 1350px;
        
		
        
		
		align:center;
        margin-top: 15px;
		color:white;
	}
	
	.bawah{
	color:white;
	font-family:Arial;
		font-size:30;
        position: absolute;
		
        left:40%;
		 margin-top: 1620px;
	}
	
	.gbr{
	position:fixed;
	align:center;
	height:280px;
	width:280px;
	
	
	}
	
	
	
	
	
	@media only screen and (max-width:1280px){
	.container{
		font-family:Arial;
		font-size:30;
        position: absolute;
		background:rgba(0,0,0,0.9);
        width: 280px;
        height: 1520px;
		
        margin-left:25px;
		margin-top:260px;
		align:center;
        color:white;
	}
	
	
	
	.gbr{
	margin-left: 40px;
	
	margin-top:80px;
	width:238px;
	height:240px;
	}
	
	.bawah{
	left:30%;
	margin-top:1800px;
	}
	}